<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wanted</title>
</head>
<body  background="{% static "w.jpg" %}"
    style="background-repeat: repeat-y;background-position: center top; background-size: cover;">
שלום שלום
<!--<img src="w.jpg" alt="My image"/>-->

<div>
    <h1>
    <table width="100%" style="position: absolute;bottom: 30%;">

<tr align="center">
<td><a href="sl">  slaves </a></td>
<td>master</td>
</tr>
</table>
        </h1>
</div>
</body>
</html>